<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CCIERantsPhoneControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <CCIERantsPhoneControl.Properties.Settings>
            <setting name="firstUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phoneCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="recentIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstUseDate" serializeAs="String">
                <value>08/06/2015 13:45:00</value>
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>08/06/2015 14:02:00</value>
            </setting>
            <setting name="betaExpired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advancedModeLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="basicModeLast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ntpRetries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="VersionSetting" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="toolTips" serializeAs="String">
                <value>True</value>
            </setting>
        </CCIERantsPhoneControl.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
